/* .sidebar {
  background-color: #2c4047;
  position: fixed;
  display: block;
  width: 350px;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s;
} */

/* .sideBar {
  background: #2c4047;
  max-width: 130px;
  left: 10;
  width: 100%;
  /* margin:; */
/* margin-top: 10px;

  height: 300px;
} */

/* .buttonDiv {
    display: flex;
    justify-items: flex-start;
    margin-left: 0;
  } */
/*  */

/* .sidebar .toggle-button.open {
  transform: rotateY(180deg);
  width: 350px;
}

.sidebar .sidebar-closed {
  width: 150px;
}
.sidebar .toggle-button {
  margin-top: 20px;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  background: transparent;
  color: #fff;
  border: none;
}

.sidebar .toggle-button.open {
  width: 350px;
  transform: rotateY(180deg);
}

.sidebar button {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.sidebar-closed button {
  position: absolute;
}

.content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 3-px;
} */

/* .sidebar-open {
  width: 450px;
  background-color: #22333b;
  opacity: 95%;
  z-index: 1;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 10px;
}

.sidebar-close {
  width: 55px;
  background-color: #274c77;
  z-index: 1;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 10px;
}

.close-sidebar-button {
  height: 20px;
  width: 20px;
  top: 0;
}

.open-sidebar-button {
  height: 20px;
  width: 20px;
  top: 0;
}

.button-wrapper {
  display: flex;
  align-items: right;
} */

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #2c4047;
  overflow-x: hidden;
  padding-top: 60px;
}
.sidebar {
  max-width: 100px;
}

.sidenav .open {
  width: 575px;
  transition: 0.4s;
}

.closedIcon.closed {
  background-color: #2c4047;
  border: 0ch;
  padding-top: 1.2cm;
}

.closedIcon.open {
  display: none;
}
.sidenav .closed {
  width: 60px;
  transition: 0.4s;
}

.toggle-button {
  margin-top: 20px;
  transition-property: all;
  transition-duration: 0.4s;
  transition-delay: 0s;
  background: transparent;
  color: white;
  border: none;
}
.toggle-button.open {
  transform: rotate(180deg);
}

.allitems {
  display: flex;
  flex-direction: column;
}
