.navbar {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  width: 100%;
  max-width: 100vw;
  background: #2c4047;
  color: white;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

nav.navbar {
  background-color: #2c4047;
  padding: 0 px 40 px;
}

* {
  box-sizing: border-box;
}

/* each link in the nav bar */
/* .navbar a {
  color: white;
  font-weight: 500;
  margin: 0;
  padding: 0; */
/* gets rid of the underline  */
/* text-decoration: none;
}

a {
  color: aliceblue;
  text-decoration: none;
  cursor: pointer;
}

ul {
  color: aliceblue;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  margin-right: 2rem;
  list-style-type: none;
  padding-top: 1rem;
}

/* .navbar {
  width: 100%;
  max-width: 100vw;
  background-color: #2c4147;
  color: aliceblue;
  display: flex;
  justify-content: space-evenly;
  /* margin-left: 70px; */
/* margin: 0px auto;
  padding: 0;
  z-index: 1;
} */
ul {
  color: aliceblue;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  margin-right: 0rem;
  list-style-type: none;
  padding-top: 0;
  padding-bottom: 63px;
}

a {
  color: aliceblue;
  text-decoration: none;
  cursor: pointer;
}

.Socials {
  cursor: pointer;
}
