/* .product-card img {
  width: 280px;
  height: 280px;
}

.product-info {
  display: flex;
  border-top: solid 1px #e4e4e4;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.product-card {
  height: 380px;

  background: white;
  display: flex;
  flex-direction: column;
  border: solid 1px #e4e4e4;
}
.product-name {
  transform: translateY(-14px);
}

.product-price {
  transform: translateY(-14px);
}

.main-info {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.actions {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttons {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.add {
  display: flex;
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  max-height: fit-content;
  max-width: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.remove {
  display: flex;
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  max-height: fit-content;
  max-width: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.product-card .material-icons {
  width: 20px;
  height: 20px;
  border: solid 1px #00c385;
  color: #00c385;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.product-quantity {
  width: 20px;
  height: 20px;
  display: flex;
  background: #ff9017;
  color: white;
  border-radius: 4px;
  align-items: center;
  justify-content: center;

  transform: translate(50px) translateY(-35px);
} */
/* div {
  height: auto;
  /* width: 1000px; */
/* margin: 0 auto; */
/* } */
/* .product-grid .product-card .media img {
  height: 250px;
  width: 248px;
  display: flex;
} */
/* .product-card .media img {
  max-width: 800px;
} */

.product-card img {
  width: 250px;
  height: 250px;
  display: flex;
}

.product-card {
  display: flex;
  height: 380px;
  background: white;
  display: flex;
  flex-direction: column;
  border: solid 1px #e4e4e4;
  /* box-shadow: 0.2px 4px 5px black; */
}

.stars svg {
  height: 20px;
  width: 20px;
  background-color: #e5a800;
}

.actions {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttons {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
/* 
.add {
  display: flex;
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  max-height: fit-content;
  max-width: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
} */

/* .remove {
  display: flex;
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  max-height: fit-content;
  max-width: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
} */

.remove {
  display: flex;
  margin-right: -150px;
  margin-top: -100px;
  /* border: none; */
  cursor: pointer;
  border-width: thin;
}

.add {
  display: flex;
  margin-right: 10px;
  margin-top: -100px;
  /* border: none; */
  cursor: pointer;
  border-width: thin;
}
